@use "./style-vars/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
  margin-top: 70px;
  padding-bottom: 30px;
}

textarea,
.input {
  background-color: var(--input-bg);

  color: var(--text-color);
  border: none;
  outline: none;
  &::placeholder {
    color: var(--text-color);
  }
}
