@use "../../style-vars/variables.scss";
.post-form {
  background-color: var(--postform-bg);
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--bg-color);
  padding: 20px 15px;
  margin: 30px auto;
  max-width: 600px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Segoe UI", sans-serif;
  color: var(--text-color);
}

.post-form h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.div-title,
.div-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-title,
.label-content {
  font-weight: 600;
}

.label-title {
  font-size: 20px;
}
.title,
.content {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;

  font-size: 15px;
  transition: border 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    outline: none;
    border-color: #f1c40f;
    box-shadow: 0 0 0 2px rgba(241, 196, 15, 0.3);
  }
}

.content {
  resize: vertical;
  min-height: 100px;
  line-height: 1.5;
}

.post-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: var(--post-button);
  color: var(--text-color);
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--post-button-hover);
  }

  &:active {
    transform: scale(0.96);
  }
}
