.post-list {
  background-color: rgb(233, 237, 239);
  width: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.post-item {
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: aliceblue;
  box-shadow: 0 3px 5px grey;
}

.post-item p,
h2,
textarea,
button {
  margin: 10px;
}

.post-item p {
  width: 80%;
  margin: auto;
  word-wrap: break-word;
}

.edit-button,
.delete-button {
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    transform: scale(0.95);
  }
}

.delete-button {
  background-color: #e74c3c;
}

.delete-all {
  padding: 10px;
  width: 100px;
  height: 50px;
  background-color: #e74c3c;
  color: white;
  font-weight: 600;
  margin: auto;
  border: 1px solid #ccc;

  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    transform: scale(0.95);
  }
}

.user-posts-title {
  font-size: 2rem;
}
