.user-profile {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 80%;
  background-color: var(--user-bg);
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--bg-color);
  padding: 10px;
  color: var(--text-color);
}

.profile-title {
  font-size: 1.6rem;
  margin: 10px;
  overflow: auto;
  width: 80%;
  margin: auto;
}
.profile-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  overflow: auto;
}

.name-bio {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 60%;
}

.picture {
  border-radius: 50%;
  object-fit: cover;
}

.defaultPicture {
  object-fit: cover;
  box-shadow: #312071;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: auto;
}

.user-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  gap: 20px;
  padding: 10px 0;
}

.user-details p {
  margin: 0;
  background-color: #312071;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  overflow: auto;
}
.user-details p:last-child {
  grid-column: 1 / -1;
}

.user-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.user-stats p {
  background-color: var(--user-stats-bg);
  padding: 5px;

  border-radius: 10px;
  font-weight: bold;
}

.following,
.followers,
.posts {
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
  &:active {
    transform: scale(0.96);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .name {
    font-size: 18px;
  }
  .profile-title {
    font-size: 18px;
  }
  .profile-header img {
    width: 70px;
    height: 70px;
  }
  .user-details p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 14px;
  }
  .profile-title {
    font-size: 14px;
  }
  .user-details p {
    font-size: 12px;
  }
  .profile-header img {
    width: 50px;
    height: 50px;
  }
  .user-details p {
    font-size: 12px;
  }
}

.profile-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
