::-webkit-scrollbar {
  display: none;
}

.chat-page {
  display: flex;

  width: 100%;

  flex-direction: column;
  align-items: center;
}

.display {
  height: 44vh;
  width: 380px;
  background-color: #ff9;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
}

.global-display {
  height: 60vh;
  width: 500px;
  background-color: #ff9;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
}

.message {
  display: flex;
  flex-direction: row;
}

.input-message {
  font-size: 16px;

  width: 350px;
  overflow: auto;
  text-wrap: wrap;
  resize: none;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  height: 50px;
}

.send-message {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: lightgreen;
  border: 1px double green;
  margin: auto 3px;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    transform: scale(0.95);
  }
}

.main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}
.global-main-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 90%;
}

.global-people-box {
  margin-right: 130px;
}

.global {
  width: 450px;
}
.chat-people-item {
  background-color: rgb(79, 5, 216);

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid #f0f0f0;
  width: 300px;
  margin-top: 10px;
  &:hover {
    background-color: rgba(94, 122, 234, 0.832);
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
}

.people-chats {
  max-height: 70%;
  width: 300px;
}
