@use "../../style-vars/variables.scss";
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.message-list {
  overflow-y: auto;
  height: 100%;
  position: relative;
  scroll-behavior: initial;
}
.my-message,
.someone-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  animation: fadeInUp 0.2s ease-out;
}

.my-message {
  align-items: flex-end;
}

.message-details {
  display: flex;
  gap: 10px;
  font-size: x-small;
  color: var(--text-color);
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-content {
  background-color: rgb(238, 247, 255);
  padding: 3px;
  font-size: 12px;
  max-width: 80%;
  word-wrap: break-word;
  color: black;
  border-radius: 10px;
}

.new-messages {
  position: sticky;
  bottom: 10px;
  margin: 10px auto;
  z-index: 10;
  background-color: var(--new-messages-button);
  color: var(--text-color);
  font-weight: 500;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  width: max-content;
  animation: fadeInUp 0.3s ease;
}

.old-messages {
  margin: 10px auto;
  z-index: 10;
  background-color: var(--old-messages-button);
  color: var(--text-color);
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  width: max-content;
  animation: fadeInUp 0.3s ease;
}
