@use "../../style-vars/variables.scss";
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-message,
.someone-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  animation: fadeInUp 0.2s ease-out;
}

.my-message {
  align-items: flex-end;
}

.message-details {
  display: flex;
  gap: 10px;
  font-size: x-small;
  color: var(--text-color);
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-content {
  background-color: rgb(238, 247, 255);
  padding: 3px;
  font-size: 12px;
  max-width: 80%;
  word-wrap: break-word;
  color: black;
  border-radius: 10px;
}
