@use "../../style-vars/variables.scss";
.back-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s ease;

  &:hover {
    color: var(--lighter-color);
    transform: translateX(-3px);
  }

  .back-text {
    font-size: 15px;
  }
}
