@use "../style-vars/variables.scss";

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
  flex-wrap: wrap;
  border-top: 1px solid var(--post-text);
}

.stats button,
.stats p {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.2s;
}

.stats button:hover {
  color: #3498db;
}

.liked {
  color: #e74c3c !important;
}

.notLiked {
  color: #aaa;
}

.share-icon,
.comments-icon,
.report-icon,
.like-icon {
  font-size: 14px;
}

.views {
  color: #858585 !important ;
  font-size: 13px;
  &:hover {
    cursor: auto;
  }
}
