footer{
    background-color: #f2e797;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #6c757d;
    border-top: 1px solid #000000;
    position: relative;
    height:60px;
    bottom: 0;
    width: 100%;
    margin-top:10px
}

div .container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    font-size: 0.9rem;
    color: #6c757d;
   margin-top: 2px;
}
