footer{
    background-color: #f8ffc7;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #6c757d;
    border-top: 1px solid #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div .container {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    font-size: 0.9rem;
}
