.people-list {
  width: 50%;
  background-color: var(--people-bg);
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding-bottom: 50px;
}

.people-item {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid var(--people-item-border);

  background-color: var(--people-item-bg);

  box-shadow: 0 3px 4px var(--people-item-border);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  &:hover {
    filter: brightness(var(--people-brightness));
    cursor: default;
  }
}

.person-details {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.h-container {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin: 30px auto;
}

.choice {
  font-size: 26px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.search-people {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.follow-button,
.message-button {
  font-weight: 600;
  padding: 0.75rem;
  text-align: center;
  width: 82px;
  color: white;
  letter-spacing: 0.5px;
  border: none;
  box-shadow: 0 3px 4px var(--button-shadow);
  margin: 5px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px var(--people-item-border);
  }
  &:active {
    transform: scale(0.95);
  }
}
.notfollowed {
  background-color: rgb(252, 111, 96);
}
.followed {
  background-color: rgb(255, 255, 255);
  color: #333;
}
.message-button {
  background-color: #907676;
}

.active {
  color: white;
}

.person-details p {
  font-size: 15px;
}

.online-offline {
  font-size: 14px;

  p {
    font-size: inherit;
  }
}
