.people-list {
  width: 95%;
  max-width: 1000px;

  height: 450px;
  background-color: var(--people-bg);
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.people-item {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-evenly;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid var(--people-item-border);

  background-color: var(--people-item-bg);

  box-shadow: 0 3px 4px var(--people-item-border);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  &:hover {
    filter: brightness(var(--people-brightness));
    cursor: default;
  }
}

.person-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.h-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
  gap: 10px;
}

.choice {
  font-size: 1.5rem;
  border-bottom: none;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.follow-button,
.message-button {
  font-weight: 600;
  padding: 0.75rem;
  text-align: center;
  width: 82px;
  color: white;
  letter-spacing: 0.5px;
  border: none;
  box-shadow: 0 3px 4px var(--button-shadow);
  margin: 5px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px var(--people-item-border);
  }
  &:active {
    transform: scale(0.95);
  }
}
.notfollowed {
  background-color: rgb(252, 111, 96);
}
.followed {
  background-color: rgb(255, 255, 255);
  color: #333;
}
.message-button {
  background-color: #907676;
}

.active {
  color: white;
}

.person-details p {
  font-size: 20px;
  overflow: hidden;
}

.online-offline {
  font-size: 18px;

  p {
    font-size: inherit;
  }
}
.last-seen {
  width: auto;
}

.buttons-div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.person-img-name {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.person-username {
  width: 100px;
}
.people-item img {
  width: 70px;
  height: 70px;
}

@media (max-width: 768px) {
  .people-item img {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 480px) {
  .people-item img {
    height: 30px;
    width: 30px;
  }
  .person-details p {
    font-size: 14px;
    width: 60px;
  }

  .online-offline {
    font-size: 14px;
    width: 50px;
    p {
      font-size: inherit;
    }
  }
  .follow-button,
  .message-button {
    width: 45px;
    font-size: 8px;
    padding: 5px;
  }
  .last-seen {
    display: none;
  }
}
