.people-list {
  width: 50%;
  background-color: #fdc;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.people-item {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;

  border: 1px solid #ccc;
  padding: 5px;
  background-color: rgb(230, 229, 229);
  font-size: medium;
  box-shadow: 0 3px 4px #ccc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  &:hover {
    filter: brightness(1.05);
  }
}

.person-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: auto;
}

.choice {
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.search-people {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.follow-button,
.message-button {
  font-weight: 600;
  padding: 0.75rem;
  text-align: center;
  width: 82px;
  color: white;
  letter-spacing: 0.5px;
  border: none;
  box-shadow: 0 3px 4px #333;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 4px #ccc;
  }
  &:active {
    transform: scale(0.95);
  }
}
.notfollowed {
  background-color: rgb(252, 111, 96);
}
.followed {
  background-color: rgb(255, 255, 255);
  color: #333;
}
.message-button {
  background-color: #907676;
}
